body{
  background-image: url('../public/ipl.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  color: white;
  height: 100vh;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

